header.masthead {
  background-image: url('https://images.unsplash.com/photo-1428223501723-d821c5d00ca3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  min-height: 30rem;
}

#mainNav {
  background-color: #212529;
}

#services, #portfolio, #team, #contact {
  padding: 7.0rem 0;
}

#contact .form-group {
  margin-bottom: 2.0rem;
}

#contact .form-group input, #contact .form-group textarea {
  padding: 1.8rem;
}

#message {
  height: 244px;
}

.service-heading {
  font-weight: bold;
}

.portfolio-caption {
  background-color: #fff;
  padding: 2.0rem;
}

.portfolio-caption h5 {
  font-weight: bold;
}

.portfolio-item {
  margin-bottom: 2.0rem;
}

.team-member img {
  border: 7px solid #fff;
  height: 225px;
  width: 225px;
}

.team-member ul li a {
  background-color: #000;
  border-radius: 100%;
  color: #fff;
  display: block;
  font-size: 1.5rem;
  height: 50px;
  line-height: 50px;
  width: 50px;
}

.intro-text {
  padding: 7.0rem 0;
}

.intro-text .intro-lead-in {
  font: italic 22px 'sans-serif';
}

.intro-text .intro-heading {
  font: bold 50px 'sans-serif';
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.list-inline {
  list-style: none;
  padding-left: 0;
}

.list-inline-item {
  display: inline-block;
}

@media (min-width: 768px) {
  .intro-text .intro-lead-in {
    font-size: 40px;
  }

  .intro-text .intro-heading {
    font-size: 75px;
  }
}

@media (min-width: 992px) {
  #mainNav {
    background-color: transparent;
    padding: 1.0rem 0;
    transition: padding-top .3s,padding-bottom .3s;
    -webkit-transition: padding-top .3s,padding-bottom .3s;
  }

  #mainNav.navbar-shrink {
    background-color: #212529;
    padding: 0;
  }
}
